{% extends "layout.html" %}

{% block title %}
    Cargar Tareas
{% endblock %}

{% block main %}
<div class="perfil">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
    <form action="/cambiarDatos" method="POST">

        <p>Editar Perfil</p>
        <span>Al cambiar algún dato deberá volver a iniciar sesión</span>

        <div class="container">
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="nombreUsuario">
                <div class="labelline">NOMBRE</div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="correoUsuario">
                <div class="labelline">CORREO ELECTRONICO</div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="contraUsuario">
                <div class="labelline">CONTRASEÑA</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Cambiar Datos</button>
    </form>
</div>
{% endblock %}