{% extends "layout.html" %}

{% block title %}
    Cargar Tareas
{% endblock %}

{% block main %}


<form class="upload" action="/postear" method="POST" enctype="multipart/form-data">
    <label for="input-file" id="drop-area">
        <input type="file" accept="application/pdf" id="input-file" name="archivo_pdf" hidden>
        <div id="pdf-view">
            <i class='bx bx-cloud-upload icon'></i>
            <p>Arrastre y suelte o haga clic aquí<br>para cargar un PDF</p>
        </div>
    </label>
    <div class="file-description">
        <div class="title">Título</div>
        <textarea id="title" maxlength="100" name="titulo_archivo" required></textarea>
        <div class="description">Descripción</div>
        <textarea id="description" maxlength="400" name="descripcion_archivo" required></textarea>
        <div class="clasification">Clasificación</div>
        <div class="selection">
            <div class="dropdown" >
                <select name="materia" class="select" id="">
                    <option value="matematicas">Matemáticas</option>
                    <option value="Quimica">Quimica</option>
                    <option value="Programacion">Programacion</option>
                    <option value="Inglés">Inglés</option>
                    <option value="Matematicas I">Matematicas I</option>

                </select>
            </div>
            {% comment %} <div class="dropdown">
                <div class="select">
                    <span class="selected">Clase</span>
                    <div class="caret"></div>
                </div>
                <ul class="menu">
                    <li>Matemáticas I</li>
                    <li>Química General</li>
                    <li>Programación</li>
                    <li>Inglés I</li>
                </ul>
            </div> {% endcomment %}
        </div>
        <button class="btn btn-primary" type="submit">Subir</button>
    </div>
</form>
<script>
    /*----------------Cargar Archivos-----------------------*/
    const dropArea = document.getElementById("drop-area"),
          inputFile = document.getElementById("input-file"),
          pdfView = document.getElementById("pdf-view");

          inputFile.addEventListener("change", uploadPdf);

          function uploadPdf() {
            let pdfuploaded = "url('static/archivocargado.png')"
            pdfView.style.backgroundImage = pdfuploaded;
            pdfView.textContent = "";
            pdfView.style.border = 0;
          };

          dropArea.addEventListener("dragover", function(e){
            e.preventDefault();
          });

          dropArea.addEventListener("drop", function(e){
            e.preventDefault();
            inputFile.files = e.dataTransfer.files;
            uploadPdf();
          });
    
    /*-----------------Lista desplegables-------------------*/
    const dropdowns = document.querySelectorAll('.dropdown');
          dropdowns.forEach(dropdown => {
            const select = dropdown.querySelector('.select'),
                  caret = dropdown.querySelector('.caret'),
                  menu = dropdown.querySelector('.menu'),
                  options = dropdown.querySelectorAll('.menu li'),
                  selected = dropdown.querySelector('.selected');

            select.addEventListener('click', () => {
                select.classList.toggle('select-clicked');
                caret.classList.toggle('caret-rotate');
                menu.classList.toggle('menu-open');
            });

            options.forEach(option => {
                option.addEventListener('click', () => {
                    selected.innerText = option.innerText;
                    select.classList.remove('selected-clicked');
                    caret.classList.remove('caret-rotate');
                    menu.classList.remove('menu-open');

                    options.forEach(option => {
                        option.classList.remove('active');
                    });

                    option.classList.add('active');
                });
            });
          });
</script>
{% endblock %}