{% extends "layout.html" %}

{% block title %}
    Cargar Tareas
{% endblock %}

{% block main %}


<form class="upload" action="/postear" method="POST" enctype="multipart/form-data">
    <label for="input-file" id="drop-area">
        <input type="file" accept="application/pdf" id="input-file" name="archivo_pdf" hidden>
        <div id="pdf-view">
            <i class='bx bx-cloud-upload icon'></i>
            <p>Arrastre y suelte o haga clic aquí<br>para cargar un PDF</p>
        </div>
    </label>
    <div class="file-description">
        <div class="title">Título</div>
        <textarea id="title" maxlength="100" name="titulo_archivo" required></textarea>
        <div class="description">Descripción</div>
        <textarea id="description" maxlength="400" name="descripcion_archivo" required></textarea>
        <div class="clasification">Clasificación</div>
        <div class="selection">
            <div class="dropdown" >
                <select name="materia" class="select" id="" required>
                    <option value="matematicas">Matemáticas</option>
                    <option value="Quimica">Química</option>
                    <option value="Programacion">Programación</option>
                    <option value="Inglés">Inglés</option>
                    <option value="Matematicas I">Matemáticas I</option>

                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Subir</button>
    </div>
</form>
<script>
    /*----------------Cargar Archivos-----------------------*/
    const dropArea = document.getElementById("drop-area"),
          inputFile = document.getElementById("input-file"),
          pdfView = document.getElementById("pdf-view");

          inputFile.addEventListener("change", uploadPdf);

          function uploadPdf() {
            let pdfuploaded = "url('static/archivocargado.png')"
            pdfView.style.backgroundImage = pdfuploaded;
            pdfView.textContent = "";
            pdfView.style.border = 0;
          };

          dropArea.addEventListener("dragover", function(e){
            e.preventDefault();
          });

          dropArea.addEventListener("drop", function(e){
            e.preventDefault();
            inputFile.files = e.dataTransfer.files;
            uploadPdf();
          });         
</script>
{% endblock %}